{% extends 'base.html.twig' %}

{% block title %}ComidaPreferidad index{% endblock %}

{% block body %}
    <h1>ComidaPreferidad index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comida_preferidad in comida_preferidads %}
            <tr>
                <td>{{ comida_preferidad.id }}</td>
                <td>{{ comida_preferidad.nombre }}</td>
                <td>
                    <a href="{{ path('comida_preferidad_show', {'id': comida_preferidad.id}) }}">show</a>
                    <a href="{{ path('comida_preferidad_edit', {'id': comida_preferidad.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('comida_preferidad_new') }}">Create new</a>
{% endblock %}
