{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
<div class="col-sm-9" hidden="true">
        {{ form_row(form.createdAt) }}
</div>
 <div class="col-sm-9" hidden="true">
            {{ form_row(form.updatedAt) }}
  </div>
 <div class="col-sm-9" hidden="true">
            {{ form_row(form.PrecioPedido) }}
  </div>
 <div class="col-sm-9" autocomplete="off"  >
            {{ form_row(form.restaurant) }}
  </div>
   <div class="col-sm-9" >
            {{ form_row(form.menu) }}
  </div>
   <div class="col-sm-9" >
            {{ form_row(form.cantidad) }}
  </div>
 <div class="col-sm-9"  value= {{app.user.nombre}} hidden="true">
            {{ form_row(form.Persona) }}
  </div>
{#  <div class="col-sm-9"  value={{app.user.id}}>
            {{ form_row(form.Persona) }}
  </div>  #}
<div  class="col-sm-12" >
     <button class="col-sm-2 btn btn-primary">{{ button_label|default('Save') }}</button>
</div>

   {{ form_end(form) }}

